<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lesson">

    <application
        android:allowBackup="true"
        android:icon="@drawable/rodentia_icons_contact_add"
        android:label="Contactlar"
        android:roundIcon="@drawable/rodentia_icons_contact_add"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lesson">
        <activity
            android:name=".SelectActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>